<div class="card">
  <div class="card-body">
    <h5 class="card-title">Votre demande</h5>
    <form>
      <div class="form-group">
        <label for="bankCode">Code de la banque</label>
        <input type="text" class="form-control" id="bankCode">
      </div>
      <div class="form-group">
        <label for="agencyCode">Code de l'agence</label>
        <input type="text" class="form-control" id="agencyCode">
      </div>
      <div class="form-group">
        <label>Nos Services:</label><br><br>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="transport">
          <label class="form-check-label" for="transport">Transport</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="collect">
          <label class="form-check-label" for="collect">Collecte</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="alimentation">
          <label class="form-check-label" for="alimentation">Alimentation</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="charge">
          <label class="form-check-label" for="charge">Charge/Decharge</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
