

  <div class="navbar">
    <div class="logo">
       <a href="/"> <img class="logo" src="assets/logo.png" alt="Logo" /></a>
    </div>
    <ul class="menu-items">
      <li><a href="/" >ACCUEIL</a></li>
      <li><a href="" >PRÉSENTATION</a></li>
      <li><a href="">RESSOURCES</a></li>
      <li><a href="">SERVICES</a></li>
      <li><a href="">ACTUALITÉ</a></li>
      <li><a href="">CONTACT</a></li>
    </ul>
    <a href="/login"><p-button size="small" label="LOGIN" href="['/login']" routerLinkActive="router-link-active"/></a>
    </div>
